<div class="popup" [ngClass]="{'hide': hide}">
  <!-- <div class="content">
    <h2>상담시간 연장</h2>
    <h3>저녁 8시까지</h3>
    <hr>
    열심히 일하시는 워킹산모님들! 퇴근 후 조리원 방문해서 상담받으시고 주말에 푹 쉬시라고 트리니티 산후조리원 삼성점에서 평일 저녁상담을 진행합니다. 우측 상단의 상담버튼을 통해 예약해주세요 ^.^
  </div>  
  <a href="#!" class="btn close-popup" (click)="closePopup()">닫 기</a> -->
  <a href="https://goo.gl/PpAvXh" target="_blank">
    <img [src]="private_class" alt="트리니티 클래스 신청">
    <a href="#!" class="btn close-popup" (click)="closePopup()">닫 기</a>
  </a>


</div>